<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="">
  <title>Create new place</title>

  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../../static/place/css/wireframe.css">
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js"></script>
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css" rel="stylesheet">
  <style>
    #map {
      top: 0;
      bottom: 0;
      width: 100%;
    }
  </style>
</head>

<body class="bg-light">
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="text-center col-md-7 mx-auto"> <i class="fa d-block fa-bullseye fa-5x mb-4 text-info"></i>
          <h2><b>Добавление нового места</b></h2>
          <p class="lead">
          	Обратите внимание на поля требующие заполнение. Название и адрес Вашего заведения будет переводиться в 2х формах, в оригинале и на латыне или наоборот.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-12 order-md-1">
          <h4 class="mb-3"><b>Создать зеведение</b></h4>
          <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="row">
              <div class="col-md-12 mb-6"> <label for="firstName">Фото</label>
                  {{ form.upload() }}
                  {% for error in form.upload.errors %}
                      <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                <div class="invalid-feedback"> Valid first name is required. </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 mb-3"> <label for="firstName">Название</label>
                {{ form.cName(class="form-control", placeholder="", value="", required="") }}
                  {% for error in form.cName.errors %}
                      <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
              </div>
            </div>
            <div class="row">
            <div class="col-md-8 mb-3"> <label for="country">Описание</label>
                {{form.description(class="form-control h-50", style="height: 200px!important", maxlength="210")}}
                <div class="invalid-feedback"> Please provide a valid state. </div>
              </div>
            </div>
            <div class="mb-3"> <label for="email">Email <span class="text-muted">(Optional)</span></label>
              {{ form.email(class="form-control", placeholder="you@example.com") }}
              {% for error in form.email.error %}
                <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
              <div class="invalid-feedback"> Please enter a valid email address for shipping updates. </div>
            </div>
            <div class="mb-3"> <label for="website">Website<span class="text-muted">(Optional)</span></label>
              {{ form.website(class="form-control", placeholder="website") }}
              {% for error in form.website.error %}
                <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>
            <div class="row">
            <div class="col-md-9 mb-3"> <label for="cAddress">Адрес</label>
              {{ form.cAddress(class="form-control", placeholder="") }}
              {% for error in form.cAddress.error %}
                <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
              </div>
            </div>
             <div class="row">
              <div class="col-md-4 mb-3"> <label for="country">Страна</label>
                <select class="custom-select d-block w-100" id="country" name="country">
                  {% for country in form.country %}
                      <tr>
                        <td>{{ country }}</td>
                        <td>{{ country.label }}</td>
                      </tr>
                  {% endfor %}
                </select>
                {% for error in form.country.error %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
             <div class="col-md-4 mb-3"> <label for="state">Город</label>
                <select class="custom-select d-block w-100" id="city" name="city">
                  {% for city in form.city %}
                      <tr>
                        <td>{{ city }}</td>
                        <td>{{ city.label }}</td>
                      </tr>
                  {% endfor %}
                </select>
                {% for error in form.city.error %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
             <div class="col-md-4 mb-3"> <label for="placeType">Тип заведения</label>
                <select class="custom-select d-block w-100" id="type_establ" name="type_establ">
                  {% for type_establ in form.type_establ %}
                      <tr>
                        <td>{{ type_establ }}</td>
                        <td>{{ type_establ.label }}</td>
                      </tr>
                  {% endfor %}
                </select>
              </div>
              <div class="invalid-feedback"> Please provide a valid state. </div>
             </div>
             <hr class="mb-4">
            <div class="mb-3">
              <h4 class="mb-3"><b>График работы</b></h4> <label>Настройки</label>
              <div class="row">
                <div class="mb-3 col-md-3"> <label for="oMon">Открытие в понедельник</label>
                  {{ form.oMon(class="form-control", type="time") }} </div>
                <div class="mb-3 col-md-3"> <label for="cMon">Закрытие в понедельник</label>
                  {{ form.cMon(class="form-control", type="time") }} </div>
              </div>
              <div class="row">
                <div class="mb-3 col-md-3"> <label for="oMon">Открытие во вторник</label>
                  {{ form.oTue(class="form-control", type="time") }} </div>
                <div class="mb-3 col-md-3"> <label for="cMon">Закрытие во вторник</label>
                 {{ form.cTue(class="form-control", type="time") }} </div>
              </div>
              <div class="row">
                <div class="mb-3 col-md-3"> <label for="oMon">Открытие в среду</label>
                  {{ form.oWed(class="form-control", type="time") }} </div>
                <div class="mb-3 col-md-3"> <label for="cMon">Закрытие в среду</label>
                  {{ form.cWed(class="form-control", type="time") }} </div>
              </div>
              <div class="row">
                <div class="mb-3 col-md-3"> <label for="oMon">Открытие в четверг</label>
                  {{ form.oThu(class="form-control", type="time") }} </div>
                <div class="mb-3 col-md-3"> <label for="cMon">Закрытие в четверг</label>
                  {{ form.cThu(class="form-control", type="time") }} </div>
              </div>
              <div class="row">
                <div class="mb-3 col-md-3"> <label for="oMon">Открытие в пятницу</label>
                  {{ form.oFri(class="form-control", type="time") }} </div>
                <div class="mb-3 col-md-3"> <label for="cMon">Закрытие в пятницу</label>
                  {{ form.cFri(class="form-control", type="time") }} </div>
              </div>
              <div class="row">
                <div class="mb-3 col-md-3"> <label for="oMon">Открытие в субботу</label>
                  {{ form.oSat(class="form-control", type="time") }} </div>
                <div class="mb-3 col-md-3"> <label for="cMon">Закрытие в субботу</label>
                  {{ form.cSat(class="form-control", type="time") }} </div>
              </div>
              <div class="row">
                <div class="mb-3 col-md-3"> <label for="oMon">Открытие в воскресенье</label>
                 {{ form.oSun(class="form-control", type="time") }} </div>
                <div class="mb-3 col-md-3"> <label for="cMon">Закрытие в воскресенье</label>
                 {{ form.cSun(class="form-control", type="time") }} </div>
              </div>
              <hr class="mb-4">
              <h4 class="mb-3"><b>Финансы</b></h4>
              <div class="d-block my-3"> <label>Возможные способы оплаты (кроме наличных)</label>
                   {% for var in form.way_to_pay %}
                    <div class="custom-control custom-radio">
                        <td>{{ var(class="custom-control-input", type="checkbox") }}</td>
                        <td>{{ var.label(class="custom-control-label") }}</td>
                    </div>
                    {% endfor %}
              </div>
              <div class="row">
                <div class="col-md-6 mb-3"> <label for="price">Средний чек в заведении</label>
                  {{ form.average_check(class="form-control", step="0.1", type="number") }}
                  <small class="text-muted">Округлить до целого числа</small>
                    <div class="col-md-6 mb-3"> <label for="currency">Валюта</label> <select class="custom-select d-block w-100" id="currency" name="currency">
                    {% for type in form.currency %}
                      <tr>
                        <td>{{ type }}</td>
                        <td>{{ type.label }}</td>
                      </tr>
                    {% endfor %}
                	</select> </div>
                </div>
              </div>
            </div>
              <div class="d-block my-3"> <label>Сервисы</label>
                  {% for var in form.services %}
                    <div class="custom-control custom-radio">
                        <td>{{ var(class="custom-control-input", type="checkbox") }}</td>
                        <td>{{ var.label(class="custom-control-label") }}</td>
                    </div>
                  {% endfor %}
              </div>
              <hr class="mb-4">
              <div class="form-group row"> <label class="col-md-4 col-form-label text-md-right" for=location>Location</label>
                <div class="col-md-6">
                  {{ form.location(class="form-control") }} </div>
              </div>
              <div class="form-group row"> <label class="col-md-12">Выберите точку на карте</label>
                <div id="map" style="height: 300px;"></div>
              </div>
              {{ form.create(class="btn btn-primary btn-lg btn-block") }}
          </form>
        </div>
      </div>
    </div>
    <div class="py-5 text-muted text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12 my-4">
            <p class="mb-1">© 2017-2018 Company Name</p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">Privacy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Support</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../../static/place/js/validation.js"></script>
    <script type="text/javascript">
      mapboxgl.accessToken = 'pk.eyJ1IjoidGVybm93eSIsImEiOiJjamR2dWNkZ2cyeTV5Mnhxb3ozcHh2dXJ1In0.xt0czM2gP0hDBmji3mGIcQ';
      var map = new mapboxgl.Map({
      container: 'map', // container id
      style: 'mapbox://styles/mapbox/streets-v9', // stylesheet location
      center: [36.230383, 49.993500], // starting position [lng, lat]
      zoom: 12 // starting zoom
      });
      map.on('click', function (e) {
      $("#location").val(e.lngLat.lat + " ; " + e.lngLat.lng);  
      });
    </script>

  </div>
</body>

</html>