<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="">
  <title>Create new place</title>

  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../../static/place/css/wireframe.css">
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js"></script>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css" rel="stylesheet">
  <style>
    #map {
      top: 0;
      bottom: 0;
      width: 100%;
    }
  </style>
</head>

<body class="bg-light">
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="text-center col-md-7 mx-auto"> <i class="fa d-block fa-bullseye fa-5x mb-4 text-info"></i>
          <h2><b>Добавление описания места</b></h2>
          <p class="lead"> Опишите коротко (около 200 символов) в чем состоит суть Вашего заведения, что вы можете предоставить и какая Ваша особенность</p>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-12 order-md-1">
          {{ form.hidden_tag() }}
          <h4 class="mb-3"><b>Добавить описание</b></h4>
          <form action="" enctype="multipart/form-data" method="POST" class="needs-validation" novalidate="">
            <div class="row">
              <div class="col-md-3 mb-3"> <label for="country">Язык</label> <select class="custom-select d-block w-100" id="language" name="language" onchange="top.location=this.value">
                {% for language in form.languages %}
                <option value="/add_description&lan={{language.data}}&place={{place}}">{{language.label}}</option>
                {% endfor %}
              </select>
                <div class="invalid-feedback"> Please provide a valid state. </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 mb-3"> <label for="country">Название</label>
                {{form.name(class="form-control h-50", maxlength="210")}}
                <div class="invalid-feedback"> Please provide a valid state. </div>
              </div>
              <div class="col-md-8 mb-3"> <label for="country">Описание</label>
                {{form.description(class="form-control h-50", style="height: 200px!important", maxlength="210")}}
                <div class="invalid-feedback"> Please provide a valid state. </div>
              </div>
              <div class="col-md-8 mb-3"> <label for="country">Адресс</label>
                {{form.address(class="form-control h-50", maxlength="210")}}
                <div class="invalid-feedback"> Please provide a valid state. </div>
              </div>
            </div>
            {{ form.create(class="btn btn-primary btn-lg btn-block") }} </form>
        </div>
      </div>
    </div>
    <div class="py-5 text-muted text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12 my-4">
            <p class="mb-1">© 2018 East Trip</p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">Privacy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Support</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/validation.js"></script>
    <script type="text/javascript">
      mapboxgl.accessToken = 'pk.eyJ1IjoidGVybm93eSIsImEiOiJjamR2dWNkZ2cyeTV5Mnhxb3ozcHh2dXJ1In0.xt0czM2gP0hDBmji3mGIcQ';
      var map = new mapboxgl.Map({
      container: 'map', // container id
      style: 'mapbox://styles/mapbox/streets-v9', // stylesheet location
      center: [36.230383, 49.993500], // starting position [lng, lat]
      zoom: 12 // starting zoom
      });
      map.on('click', function (e) {
      $("#location").val(e.lngLat.lat + " ; " + e.lngLat.lng);  
      });
    </script>
  </div>

</body>

</html>