<!DOCTYPE html>
<html>
<head>
	<title>East Trip discounts</title>
</head>
<!-- Styles -->
<link rel="stylesheet" href="../../static/login/css/bootstrap.min.css">
<link rel="stylesheet" href="../../static/login/css/style.css">

<body class="text-center">
    <form class="form-signin", action="" method="post">
      {{ form.hidden_tag() }}
      <img class="mb-4" src="../../static/login/images/logo.png" alt="" width="100" height="">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="username" class="sr-only">Username</label>
      {{ form.username(placeholder='Username', class="form-control") }}<br>
      <label for="password" class="sr-only">Password</label>
      {{ form.password(placeholder='Password', class="form-control") }}<br>
        <div class="alert alert-info">
        <strong></strong> Invalid username or password
        </div>
        <div class="checkbox mb-3">
        <label>
          {{ form.remember_me() }} Remember me
        </label>
      </div>
      {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
      <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    </form>

<!-- Scripts -->
<script src="../../static/login/js/bootstrap.min.js"></script>
<script src="../../static/login/js/main.js"></script>
</body>
</html>